@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#app {
  height: auto;
  font-weight: normal;
  font-family: Pretendard;
}

.wrapper {
  width: 1420px;
}

.flex-center {
  display: flex;
  justify-content: center;
}