@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#app {
  height: auto;
  font-weight: normal;
  font-family: Pretendard;
}

.wrapper {
  width: 1420px;
}

/* @media (max-width: 1440px) {
.wrapper {
  width: 1280px;
}  
} */

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
