@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#app {
  height: auto;
  font-weight: normal;
  font-family: Pretendard;
  line-height: 1.5; 
}

.wrapper {
  width: 1420px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1440px) {
  .wrapper {
    width: 1280px;
  }  
  }
  
  @media (max-width: 1280px) {
    .wrapper {
      width: 960px;
    }  
    }

    @media (max-width: 768px) {
      .wrapper {
        width: 700px;
      }
      html, body {
        overflow-x: hidden; 
      }  
      }